In [29]:
import numpy as np
np_list=np.random.rand(3)
print(np_list)
print("First Element: ",np_list[0])

[ 0.172925    0.3967567   0.82242105]
First Element:  0.172925004355

## Pandas Series

In [27]:
import pandas as pd
series=pd.Series(np_list)
print("First Column is the index \n",series)

First Column is the index
 0    0.913830
1    0.942455
2    0.517434
dtype: float64

In [30]:
#changing index to custom values
seriesWithValues = pd.Series(np_list,["First","Second","Third"])
seriesWithValues

First     0.172925
Second    0.396757
Third     0.822421
dtype: float64

In [42]:
#Two dimensional array
arrayOf2 = np.random.rand(3,2)
df = pd.DataFrame(arrayOf2)
df.columns=["col1","col2"]
df

       col1      col2
0  0.321261  0.873973
1  0.612458  0.929966
2  0.960472  0.506483

In [43]:
#df acces by column
df["col2"]

0    0.873973
1    0.929966
2    0.506483
Name: col2, dtype: float64